/* for all HTML */

.container {
    background-color: rgb(247, 247, 247);
}

h4 {
    margin-bottom: 20px;
}

.img-fluid {
    max-width: 85%;
    height: 200px;
    margin-bottom: 10px;
}

a:hover {
    text-decoration: none;
}

.page-top {
    text-align: center;
}
/* 
.bg-white {
    background-color: white;
} */

span {
    display: inline-block;
    margin-right: 0.2rem;
}

.form-url {
    border: none;
    height: 50px;
    border-radius: 3px;
}

.errormsg {
    color: red;
    padding-top: 0;
}


@media only screen and (min-width: 768px) {

    .img-fluid {
       width: 100%;
       max-width: 500px;
    }

}

@media only screen and (min-width: 640px) {
  
    .img-fluid {
        width: 100%;
    }

}